body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1a221b;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #e6ede6;
    color: black;
    border-radius: 20px;
}

main {
    padding: 20px;
}

.hidden {
    display: none;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form select, form textarea, form button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

form button {
    background-color: #1e221e;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
